*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* all body font use  */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shear button use  */
.btn button{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 16px 12px;
    color: #fff;
    /* font-weight: 500; */
    cursor: pointer;
    font-size: 16px;
}
/* navigation-bar section  */
.navigation-bar{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    /* background-color: blueviolet; */
}
.logo img{
    width: 150px;
    height: 80px;
}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
    text-align: center;
    padding-top: 20px;
}
.menu li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
/* .btn button{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 20px 12px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
} */
/* banar section */
.banar-section{
    width: 100%;
    min-height: 100hv;
    background-image: url(./iamges/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
.banar-content{
    width: 1300px;
    padding: 40px 20px;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 70px 134px 120px 120px; */
    /* margin-top: 0; */
    /* margin: 0px 150px; */
    /* margin-bottom: 134px; */
    margin: 0 auto;
    margin-top: 150px;
}
.title{
    text-align: center;
    color: #30B868;
    background-color: white;
    width: 250px;
    border-radius: 14px;
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
}
.dot{
    height: 15px;
    width: 15px;
    background-color: #30B868;
    border-radius: 50%;
    border: 2px solid;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 10 10 10px rgba(132, 223, 174, 0.8);
}
.heading{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    align-items: center;
    color: #fff;
    /* margin: 0 auto; */
    justify-content: center;
    text-transform: capitalize;
}
.heding-color{
    color: #30B868;
}
.text{
    width: 700px;
    text-align: center;
    /* width: 500px; */
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 34px;
}
.btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 16px 12px;
}


