*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* all body font use  */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* navigation-bar section  */
.navigation-bar{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    /* background-color: blueviolet; */
}
.logo img{
    width: 150px;
    height: 80px;
}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
    text-align: center;
    padding-top: 20px;
}
.menu li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.btn button{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 20px 12px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}
/* banar section */
.banar-section{
    width: 100%;
    min-height: 100hv;
    background-image: url(./iamges/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banar-content{
    width: 1360px;
    padding: 340px 155px;
}

